PORT=5000
MONGO_URI=mongodb://localhost:27017/ottmarket
JWT_SECRET=ottmarket_super_secret_jwt_2024
JWT_REFRESH_SECRET=ottmarket_refresh_secret_2024
JWT_EXPIRES_IN=7d
STRIPE_SECRET_KEY=sk_test_placeholder
NODEMAILER_USER=chethanshettyds1@gmail.com
NODEMAILER_PASS=ovldayhdridgqgba
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=chethanshetty242@gmail.com
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
